.wrap{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upperPart{
    display: flex;
    gap: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.image{
    background-color: gray;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    flex-shrink: 0;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.title{
    font-size: 32px;
    color: black;
    margin: 0;
}
.body{
    font-size: 24px;
    color: black;
    margin: 0;
}
.line{
    border: none;
    height: 2px;
    color: black;
}
.comments{

}